VITE_API_ENDPOINT=https://gvdry8hj4c.execute-api.ap-south-1.amazonaws.com/prod/
VITE_COGNITO_USER_POOL_ID=your-user-pool-id
VITE_COGNITO_CLIENT_ID=your-user-pool-client-id
VITE_COGNITO_REGION=ap-south-1
